
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="inner-page">
    <div class="top-center">
        <h2>Our Services</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique bibendum.<br>
            Morbi libero elit elementum quis faucibus ac, condimentum quis nibh.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <i class="fa fa-laptop"></i>
                        <h2>Web Design</h2>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique.</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <i class="fa fa-code"></i>
                        <h2>Development</h2>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique.</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <i class="fa fa-rocket"></i>
                        <h2>Branding</h2>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique.</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <i class="fa fa-picture-o"></i>
                        <h2>Video & Photography</h2>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique.</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <i class="fa fa-bullhorn"></i>
                        <h2>Online Advertising</h2>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique.</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <i class="fa fa-file-text-o"></i>
                        <h2>Content Marketing</h2>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/GetStartPartial.cshtml");
